<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet" />
    <link href="../static/css/main.css" rel="stylesheet" />
  <meta name="robots" content="noindex, follow">
</head>
  <body>
    <div class="s013">
      <form method="post">
        <fieldset>
          <legend>Morse Code Translator</legend><br><br>
{%block content%}
{%endblock%}

</div>
</div>
</div>
<button class="btn-search" type="submit">Translate</button>
</div>
<footer>
<div class="output-1">
<h2><span>Made by:</span> Siraj Abdulkadir</h2>
<h2><span>ID:</span> UGR037/25</h2>
<h2><span>Submitted to:</span> Mr Anteneh Kassaye</h2>
<h2><span>Course code:</span> ITS154</h2>
</div>
</footer>
</form>
</div>
<script src="../static/js/extention/choices.js"></script>
</body>
</html>