{%extends 'base.html'%}

  {%block content%}
         
          {%if text_output%}
          <div class="output">
          <legend style="margin: 0 0 4% 0;">
            <span style="font-size: 1.5rem; color: black;font-weight: bold;">
                Text Message:
            </span> {{text_output}}</legend>
        </div>
          {%endif%}
        </fieldset>
        <div class="inner-form">
          <div class="left">
            <div class="input-wrap first">
              <div class="input-field first">
                <label>Enter Your Morse Code</label>
                {{form.morse_input(class="input",placeholder="Morse Code here ...")}}
              </div>
            </div>
            <div class="input-wrap second">
              <div class="input-field second">
                <!-- <label>WHERE</label> -->
                <div class="input-select"><a href="{{url_for('home')}}" style="text-decoration: none;">Change To Morse</a>
                </div>
  {%endblock%}

